<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stolen Cookies</title>
</head>
<body>
    <h1>List</h1>
    {{ range .Cookies}}
        <div>key: {{.Key}}<br>value: {{.Value}}</div>
    {{end}}
</body>
</html>