<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOW</title>
</head>
<body>
    <h4>Username: {{.Username}}</h4>
    <h1>DATA</h1>
    {{ range .Data }}
        <p>{{ .Text }}</p>
    {{ end }}
</body>
</html>